<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>EmsJSpCrud</display-name>
  <servlet>
  	<servlet-name>EmpFindAllController</servlet-name>
  	<display-name>EmpFindAllController</display-name>
  	<description></description>
  	<servlet-class>com.creatieiq.controller.EmpFindAllController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmpFindAllController</servlet-name>
  	<url-pattern>/findall</url-pattern>
  </servlet-mapping>
</web-app>